__pycache__

*workspace
*.pyc

.coverage
.DS_Store
.env/
.kube/
.pytest_cache/
.Python
.venv/
.vscode/*

develop-eggs/
env/
htmlcov/
jspm_packages/
node_modules/
*.sql
*.json

build/
dist/
ggenerator.egg-info/

*.json
requirements.txt
debug.py