__pycache__

*workspace
*.pyc

.coverage
.DS_Store
.env/
.kube/
.pytest_cache/
.Python
.venv/
.vscode/*

develop-eggs/
env/
htmlcov/
jspm_packages/
node_modules/
*.sql

build/
dist/
ggenerator.egg-info/

test.json
requirements.txt
