[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.3.5"
flake8 = "==3.7.9"
pytest-mock = "==2.0.0"

[packages]
python-dateutil = "*"
pandas = "==1.0.1"

[requires]
python_version = "3.7"
